p {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}
form {
  font-family: "Oswald", sans-serif;
}
.app {
  max-width: 700px;
  border: 1px solid #dcdcdc;
  border-radius: 25px;
  margin: 50px auto;
  padding: 40px 40px 40px 40px;
  left: 100px;
  font-family: "Oswald", sans-serif;
}
.riga,
.temperature,
.tue,
.thu,
.wed,
.fri,
.sat {
  font-weight: bold;
}
.tue,
.thu,
.wed,
.fri,
.sat {
  font-family: "Oswald", sans-serif;
}
#current-day-time {
  font-family: "Oswald", sans-serif;
}
#git-hub-link {
  display: block;
  text-align: center;
  font-family: "Oswald", sans-serif;
}
#current-weather-icon {
  max-width: 40px;
}
